COVID info analysis based on the data from <a href="https://ourworldindata.org/">Our World In Data</a>

In [1]:
!python -m venv venv

In [2]:
!venv\Scripts\activate

In [3]:
!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\python3-11-4\lib\site-packages (2.0.25)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\python3-11-4\lib\site-packages (from sqlalchemy) (4.9.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\python3-11-4\lib\site-packages (from sqlalchemy) (3.0.3)

[notice] A new release of pip is available: 23.1.2 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [4]:
!pip install pyodbc

Requirement already satisfied: pyodbc in c:\python3-11-4\lib\site-packages (5.0.1)

[notice] A new release of pip is available: 23.1.2 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [5]:
!pip install pymssql

Requirement already satisfied: pymssql in c:\python3-11-4\lib\site-packages (2.2.11)

[notice] A new release of pip is available: 23.1.2 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [6]:
#!pip install "dask[complete]"
!pip install pyarrow

Requirement already satisfied: pyarrow in c:\python3-11-4\lib\site-packages (15.0.0)
Requirement already satisfied: numpy<2,>=1.16.6 in c:\python3-11-4\lib\site-packages (from pyarrow) (1.25.0)

[notice] A new release of pip is available: 23.1.2 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [8]:
#!pip freeze
#!pip install --upgrade <package_name>
#!pip freeze > requirements.txt         -> create a requirements file
#!pip install -r requirements.txt       -> install packages from a requirements file

In [9]:
import pandas as pd
import pyodbc
import pymssql
import urllib
import time
from sqlalchemy import create_engine
from dask import dataframe as dd

In [10]:
#customize output
#pd.describe_option()
pd.set_option('display.max_columns', 100)

In [154]:
df = pd.read_excel('input_data/nashville-house-data.xlsx')
#df.dtypes
df

,UniqueID,ParcelID,LandUse,PropertyAddress,SaleDate,SalePrice,LegalReference,SoldAsVacant,OwnerName,OwnerAddress,Acreage,TaxDistrict,LandValue,BuildingValue,TotalValue,YearBuilt,Bedrooms,FullBath,HalfBath
0,2045,007 00 0 125.00,SINGLE FAMILY,"1808 FOX CHASE DR, GOODLETTSVILLE",2013-04-09,240000,20130412-0036474,No,"FRAZIER, CYRENTHA LYNETTE","1808 FOX CHASE DR, GOODLETTSVILLE, TN",2.3,GENERAL SERVICES DISTRICT,50000.0,168200.0,235700.0,1986.0,3.0,3.0,0.0
1,16918,007 00 0 130.00,SINGLE FAMILY,"1832 FOX CHASE DR, GOODLETTSVILLE",2014-06-10,366000,20140619-0053768,No,"BONER, CHARLES & LESLIE","1832 FOX CHASE DR, GOODLETTSVILLE, TN",3.5,GENERAL SERVICES DISTRICT,50000.0,264100.0,319000.0,1998.0,3.0,3.0,2.0
2,54582,007 00 0 138.00,SINGLE FAMILY,"1864 FOX CHASE DR, GOODLETTSVILLE",2016-09-26,435000,20160927-0101718,No,"WILSON, JAMES E. & JOANNE","1864 FOX CHASE DR, GOODLETTSVILLE, TN",2.9,GENERAL SERVICES DISTRICT,50000.0,216200.0,298000.0,1987.0,4.0,3.0,0.0
3,43070,007 00 0 143.00,SINGLE FAMILY,"1853 FOX CHASE DR, GOODLETTSVILLE",2016-01-29,255000,20160129-0008913,No,"BAKER, JAY K. & SUSAN E.","1853 FOX CHASE DR, GOODLETTSVILLE, TN",2.6,GENERAL SERVICES DISTRICT,50000.0,147300.0,197300.0,1985.0,3.0,3.0,0.0
4,22714,007 00 0 149.00,SINGLE FAMILY,"1829 FOX CHASE DR, GOODLETTSVILLE",2014-10-10,278000,20141015-0095255,No,"POST, CHRISTOPHER M. & SAMANTHA C.","1829 FOX CHASE DR, GOODLETTSVILLE, TN",2.0,GENERAL SERVICES DISTRICT,50000.0,152300.0,202300.0,1984.0,4.0,3.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56472,30469,188 10 0A 101.00,SINGLE FAMILY,"1435 WINDING CREEK DR, NOLENSVILLE",2015-05-27,157500,20150608-0053286,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56473,27707,188 10 0A 107.00,SINGLE FAMILY,"1423 WINDING CREEK DR, NOLENSVILLE",2015-03-02,145000,20150304-0019013,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56474,52709,188 10 0A 118.00,VACANT RESIDENTIAL LAND,"1804 GRACE POINT LN, NOLENSVILLE",2016-08-16,234611,20160819-0087214,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56475,54042,188 10 0A 121.00,VACANT RESIDENTIAL LAND,"1709 PARK TERRACE LN, NOLENSVILLE",2016-09-07,93844,20160919-0098411,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56476,54043,188 10 0A 122.00,VACANT RESIDENTIAL LAND,"1713 PARK TERRACE LN, NOLENSVILLE",2016-09-07,93844,20160919-0098411,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [155]:
#changing datatypes where necessary
df = df.astype({"LandValue": 'Int64', "BuildingValue": 'Int64', "TotalValue": 'Int64', "YearBuilt": 'Int64', "Bedrooms": 'Int64', "FullBath": 'Int64', "HalfBath": 'Int64',})
#correcting UniqueID column name (removing space)
df.rename(columns={'UniqueID ': 'UniqueID'}, inplace=True)
#correcting data in LegalReference column
df['LegalReference'] = df['LegalReference'].astype('str')

In [151]:
engine = create_engine('mssql+pymssql://sa:Glut3!en8@localhost:1433/NashvilleHouseInfo')

In [156]:
#loading to DB
start_time = time.time()
df.to_sql(name = 'NashvilleHouses', con=engine, if_exists='replace', index=False, chunksize = 1000)
print("--- %s seconds ---" % (time.time() - start_time))

--- 29.970338821411133 seconds ---